/*! reasonable.css v0.0.1 | MIT License | https://github.com/matthewhowell/reasonable.css */

:root {
	/* colors */
	--color-gray: #2D2C30;
	--color-light-gray: #888;
	--color-lightest-gray: #CCC;
	--color-lightest-gray: #EEE;
	--color-white: #FFF;

	--color-link: #4AA;
	/* --color-highlight:  rgb(129, 128, 178, .25); */
	--color-highlight:  rgb(137, 123, 175, .125);
	--color-highlight-light:  rgba(137, 123, 175, .0625);
	

	--color-purple-lightest: rgba(129, 128, 178, .5);
	--color-purple-light: rgb(129, 128, 178);
	--color-purple-medium: rgb(53, 50, 118);
	--color-purple-dark: rgb(10, 9, 59);

	--color-green-light: rgb(119, 179, 149);
	--color-green-medium: rgb(40, 119, 79);
	--color-green-dark: rgb(0, 60, 29);

	/* ---------- */
	
	/* each palette includes 5 shades */
	--color-lighter: #F6F8FE;
	--color-light: #B8D0FF;
	--color-medium: #5D88EF;
	--color-dark: #0D52F2;
	--color-darker: #0F3A8A;

	/* each palette includes a gradient */
	/* purple to blue to green */
	--gradient: linear-gradient(90deg, rgba(138,104,232,.5) 0%, rgba(93,136,239,.5) 50%, rgba(22,162,110,.5) 100%);
	
	/* those shades also define link colors */
	--color-link: var(--color-dark);
	--color-link-visited: var(--color-dark);
	--color-link-hover: var(--color-dark);

	/* and text decoration (mainly underlines) */
	--color-decoration: var(--color-light);

	--color-background: var(--color-background-light);
	--color-neutral: var(--color-lighter);
	--color-selection: var(--color-light);
	--color-text: var(--color-text-light);
		
	/* system font sans serif stack */
	--font-stack-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

	/* system font serif stack */
	--font-stack-serif: Georgia, Cambria, "Times New Roman", Times, serif;

	/* system font monospace stack */
	--font-stack-mono: SFMono-Regular, Menlo, Consolas, "Liberation Mono", "Courier New", monospace;
}

/*
	only bottom margins
	https://csswizardry.com/2012/06/single-direction-margin-declarations/
*/

/* <html> */
html {
	/* initial document font size of 16px */
	/* all later rem values are based on this */
	/* 1rem = 16px */
    font-size: 100%;
}

	/* target narrow screens and windows */
	@media (max-width: 480px) {
		html {
			/* reduce base font size to 14px */
			/* which reduces 1rem to 14px */
			font-size: 87.5%;
		}
	}

	/* target very narrow screens and windows */
	@media (max-width: 320px) {
		html {
			/* reduce base font size to 12px */
			/* which reduces 1rem to 12px */
			font-size: 75%;
		}
	}

/* <body> */
body {

	/* body should expand to full width of window */
	width: 100%;
	max-width: 100%;
		
	/* minimum width for readable text */
	min-width: 20rem;
	
	/* 32px margins on top and bottom, centered horzontally */
	margin: 0 auto;
	
	/* no body padding to sallow full width background colors */
	padding: 0;
	
	/* more line height for the text */
	line-height: 1.5;

	/* apply serif font stack to body text */
	font-family: var(--font-stack-serif);

	/* 20px body font size */
	font-size: 1.25rem;
	
	/* light mode */
	background-color: var(--color-background);
	color: var(--color-text);
}

/* HTML elements */

/* <h1>, <h2>, <h3>, <h4>, <h5>, <h6> */
/* typography defaults for headers */
h1, h2, h3, h4, h5, h6 {

	/* apply sans font stack to headers */
	font-family: var(--font-stack-sans);

	/* tighter line height for headers */
	line-height: 1.25;
	
	/* remove top margin for headers */
	margin-top: 0;

	/* add bottom margin for headers */
	margin-bottom: 1rem;

}

/* h1 h2 h3 h4 h5 h6 */
/* define font size scale for headings */
h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem;}
h4 { font-size: 1.25rem; }
h5 { font-size: 1.25rem; }
h6 { font-size: 1.25rem; }

			/* hgroup headings */
			/* hgroup > h1,
			hgroup > h2,
			hgroup > h3,
			hgroup > h4,
			hgroup > h5,
			hgroup > h6 {

				margin-bottom: 1rem;

			} */
 
/* <a> */
a, a:active {

	/* link color defined in palette */
	color: var(--color-link);

}

	/* link visited state */
	a:visited {

		/* link visited color defined in palette */
		color: var(--color-link-visited);
		
	}
 
	/* link hover state */
	a:hover {
		/* link color defined in palette */	
		color: var(--color-link-hover);

		/* remove text decoration on link hover */
		text-decoration: none;

		/* link background color defined in palette */
		background-color: var(--color-lighter);
	}

	/* link focus state for keyboard users */
	a:focus {

		/* use link hover color defined in palette */
		color: var(--color-link-hover);

		/* remove text decoration on link focus */
		text-decoration: none;

		/* add dotted border on link focus */
		border: 2px dotted var(--color-link-hover);
		
		/* increase padding on link focus */
		padding: 1px 2px;

	}

/* <nav> */
nav {
	
	font-family: var(--font-stack-sans);

}
/* <nav><a> */
nav a {

	/* add comfortable space between each nav link */
	margin-right: 1rem;

	/* prevent nav links from breaking on line endings */
	display: inline-block;
}

	nav a:last-child {

		/* remove extraneous margin after last nav link */
		margin-right: 0;

	}

/* <p> */
p, aside {

	/* bottom margin for paragraphs */
	margin: 0 0 1rem 0;
	
	/* break words with hyphens if necesary */
	word-wrap: break-word;

}

	/* a paragraph that is not followed by another paragraph */
	p:last-child {

		/* remove the bottom margin */
		margin-bottom: 0;
	}

	
/* <hr> */
hr {

	/* remove border style */
	border: none;

	/* highlight color for horizontal rules */
	color: var(--color-highlight);

	/* highlight color for horizontal rules */
	background-color: var(--color-highlight);

	/* 2px height with a light color */
	height: 2px;

	/*  bottom margin for horizontal rules */
	margin: 0 0 1rem 0;

}

/* <mark> */
mark {

	/* background color from the site palette */
	background-color: var(--color-selection);

	/* padding around the text for more visual distinction */
	padding: 2px 4px;

}

code,
kbd,
pre {

	/* monospace font stack */
	font-family: var(--font-stack-mono);
	
	/* smaller font size for monospaced text */
	font-size: .875rem;

	/* background color for code, kbd, and pre */
	background: var(--color-lighter);

	/* additional horizontal padding to make background color more prominent */
	padding: .125rem .5rem;

	/* add slightly curved corners */
	border-radius: .25rem;

}

/* keyboard element */
kbd {

	/* thin border */
	border: 1px solid var(--color-lightest);

	/* thicker border to on the bottom, make it look more "keyboardy" */
	border-width: 1px 1px 2px;

}

/* a code element within a list item */
li code {

	/* code within list items omits background color for better readability */
	/* background: none; */

}

/* <pre> */
pre {
	
	/* TODO COMMENT */
	max-width: 100%;

	/* TODO COMMENT */
	overflow: auto;

	margin-bottom: 1rem;
}

/* audio element */
audio {

}

/* blockquote element */
blockquote {
	
	/* add padding to blockquote */
	padding: 1rem;

	/* bottom margin on blockquote */
	margin: 0 1rem 1rem 1rem;

	/* add background color to blockquote */
	background: var(--color-neutral);

	/* add left border to blockquote */
	border-left: 4px solid var(--color-highlight);

}

blockquote p:last-child {

	/* TODO COMMENT */
	padding-bottom: 0;

	/* TODO COMMENT */
	margin-bottom: 0;
}

abbr[title] {
	/* abbreviation elements get help cursor to make them more discoverable */
	cursor: help;

	/* also include a dotted bottom border */
	border-bottom: 1px dotted var(--color-light-gray);

	text-decoration: none;
}


small, sub, sup {
	/* smaller font size for small, sub, and sup */
	font-size: .75rem;
}

figure {
	/* standard 2rem top and bottom margin for figures */
	margin: 0 0 1rem 0;

	/* center inline children within figures */
	text-align: center;
}

figcaption {
	margin: 0;
	padding: 1rem;

	/* center captions within figures */
	text-align: center;

	color: var(--color-light-gray);
}

table > caption {
	background-color: var(--color-white);
	color: var(--color-darker);
	font-size: .875rem;
	font-weight: bold;
	padding: .25rem 1rem;
	text-align: left;
}

img {
	/* standard 2rem top and bottom margin for images */
	margin: 0 auto 1rem auto;
	
	/* allow auto image height */
	height: auto;
	
	/* responsive image width */
	max-width: 100%;
}

figure img {
	/* remove image top and bottom margin if within a figure (which has its own) */
	margin: 0 auto;
}

figure audio {
	/* audio elements within figures should expand to entire available width, this will allow more space for controls */
	width: 100%;
}

figure video {
	/* audio elements within figures should expand to entire available width, this will allow more space for controls */
	width: 100%;
}

ul, ol {
	margin: 0 0 1rem;
}

/* nested lists */
ol ol, ol ul, ul ul, ul ol {

	/* no margin for nested lists */
	margin: 0;

}

dl {
	display: grid;
	grid-template-columns: max-content auto;
	margin: 0;
}

dl dt {
	font-weight: bold;
}

dd {

}

details {
	margin: 0 0 1rem 0;
	padding: 0 0 0 1rem;
	border-left: 1px solid var(--color-lightest-gray);
}

details > summary {
	cursor: pointer;
	display: inline-block;
	border: 1px solid var(--color-lightest-gray);
	border-radius: 4px;
	padding: .125rem 1rem;
	margin: 0;
}

details[open] {
	/* when open, details will have darker left border */
	border-color: var(--color-light-gray);
}

details[open] > summary {
	/* when open, summary will have darker border */
	border-color: var(--color-light-gray);

	/* when open, summary will have a bottom margin */
	margin: 0 0 1rem 0rem;
}

select {
	display: inline-block;
	width: auto;
	margin: 0 .5rem 0 0;
	font-family: var(--font-stack-sans);
	font-size: 1rem;
}

button, input[type=submit], input[type=button] {
	cursor: pointer;
	display: inline-block;
	border: 1px solid var(--color-light-gray);
	background: none;
	border-radius: 4px;
	padding: .25rem 1rem;
	margin: 0 0 0 0rem;
	font-size: .75rem;
	text-transform: uppercase;
	font-weight: bold;

	font-family: var(--font-stack-sans);
}

/* input focus state for keyboard users */
input:focus {
	/* add a box shadow to focused input fields */
	box-shadow: 0 0 .125rem .25rem rgba(0,0,0,.125);
}

/* input focus state for keyboard users */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
	outline: 2px solid var(--color-highlight);
	border: 2px solid var(--color-medium);
}

button[type=submit]::after {
	/* content: " →"; */
}

button:hover, button:focus {
	/* border: 1px solid var(--color-gray); */
}

button:active, input[type=submit]:active, input[type=button]:active {
	border: 1px solid var(--color-gray);
	color: var(--color-medium);
}

em > em {
	font-weight: bold;
}

meter {
	/* -webkit-appearance: none; */
	vertical-align: middle;
}

/* table */
table {

	/* sans serif font stack */
	font-family: var(--font-stack-sans);

	/* smaller font size for denser data */
	font-size: 1rem;

	/* */
	border: 1px solid var(--color-light);

	/* slightly softer rounded borders */
	border-radius: 2px;

	border-spacing: 0;
	display: inline-block;
	max-width: 100%;
	overflow-x: auto;
	padding: 0;
	white-space: nowrap;

	margin-bottom: 2rem;
}

table th {
	background-color: var(--color-lighter);
	border-bottom: 2px solid var(--color-medium);
}

tbody {
	display: table-row-group;
	vertical-align: middle;
	border-top-color: inherit;
	border-right-color: inherit;
	border-bottom-color: inherit;
	border-left-color: inherit;
}

table td,
table th,
table tr  {
	text-align: left;
	padding: .5rem 1rem;
}

table tr:nth-child(even) {
	background-color: var(--color-lighter);
}

table tr:nth-child(odd) {
	background-color: var(--color-white);
}


summary::before {
  }

summary {
	
  }
  
summary::-webkit-details-marker {

}

del {
	color: var(--color-light-gray);
}

ins {
	text-decoration: none;
}

ins:before {
	content: "+";
	margin: 0 1rem 0 0;
	color: var(--color-light-gray);
}

ins > p {
	display: inline-block;
}

/* forms */
/* <form>, <fieldset> */
form, fieldset {
	/* remove border from forms and fieldsets */
	border: none;
	
	/* remove margins from forms and fieldsets */
	margin: 0;
}


ruby {
	display: inline-flex;
	flex-direction: column-reverse;
}
  
rb, rt {
	display: inline;
	line-height: 1;
}

label, legend {
	
	font-family: var(--font-stack-sans);

	/* TODO COMMENT */
	font-size: .875rem;
		
	/* TODO COMMENT */
	/* padding: .25rem; */
	
	
	/* TODO COMMENT */
	/* width: 100%; */
	
	/* TODO COMMENT */
	
	/* TODO COMMENT */
	/* box-sizing: border-box; */
	
	font-weight: bold;
	text-transform: uppercase;
}

legend {
	padding: 0 0 0 .25rem;
}

label {
	display: inline-block;
	margin: 0 1rem 0rem 0;
	padding: .5rem 0;
	width: auto;
	vertical-align: middle;
}

fieldset ol, fieldset li {
	list-style: none;
	padding: 0;
	margin: 0;
}

fieldset {
	padding: 0 0 .5rem 1rem;
	margin: 0 0 1rem 0;
	border: 1px solid var(--color-lightest-gray);
	border-radius: 4px;

}

fieldset fieldset {
	margin: 0 1rem 1rem 0;
}
output {
	/* monospace font stack */
	font-family: var(--font-stack-mono);

	/* background color for output */
	background: var(--color-highlight);

	/* additional horizontal padding to make background color more prominent */
	padding: .125rem;

	border-radius: .25rem;

}

input, textarea {
	/* TODO COMMENT */
	
	/* TODO COMMENT */
	display: inline-block;
	
	/* TODO COMMENT */
	border: 2px solid var(--color-light-gray);
	
	border-radius: 4px;
	/* TODO COMMENT */
	background-color: var(--color-white);
	
	font-size: 1rem;
	padding: .25rem .5rem;
	margin: 0;
}

input[type=radio], input[type=checkbox] {
	display: inline-block;
	vertical-align: middle;
	margin-right: .5rem;
}

iframe {
	border: 2px solid #666;
	margin: 0 0 1rem 0;
	padding: 0;
}
